* {
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-size: 14px;
    padding-top: 1px;
  }

.navBarBox{
    display: flex;
    height: 40px;
    width: 100%;
    background-color: white;
    padding: 0px 150px;
    position: sticky;
}

.navBarLeft{
    flex: 3;
    display: flex;
}

.navBarRight{
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 50px ;
}

.navBarRight ul li {
    display: block;
    float: left;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.navBarRight ul li a {
    text-decoration: none;
    color: black;
}

.companyLogo{
    cursor: pointer;
}

.logo{
    font-size: 18px;
    color: red;
    margin-left: 10px;
    padding: 10px 0px;
    font-weight: 400;
    align-items: center;
    cursor: pointer;
}
